body{
    background-color: #f57f17;
}

.navbar-custom {
    background-color: #bc5100;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.btn-custom{
  background-color: #bc5100;
}

.btn-custom2{
    background-color: #f57f17;
}
.card{
  margin : 10px;
}

.input{
  margin-bottom: 10px;
}

form{
  width: 100%;
  background-color: #bc5100;
  color: white;
  text-align: center;
  border-radius: 3px;
}